<div class="col-10 offset-1">
  <h1>About Pulp Quotables</h1>

  <p>
    Pulp Quotables was built by <strong>Chris Camp</strong>. A up and coming web developer who is on a mission to bring his ideas and passions to life though technology.
  </p>
  <br />
  <p>
    See what's under the hood<a target="_blank" class='about-link' href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'profile.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Chris Camp</h2>
      <br />
      <p>
        Chris Camp is a Ruby on Rail web developer in training, with 2.5 years of exposure to the Ruby language Chris is no stranger to basic algorithms. Also having a some experience with web design tools like <em>Photoshop</em> and <em>Illustrator</em>, Chris is sure he can became a highly capably contributor to a dev team one day.
      </p>
    </div>
  </div>
  <br class='clear' />
  <br>
  <br>
  <br>
  <br>
</div>