
<h2>
  <div class='quoteID'>Pulp Quote No. <%= @quote.id %></div>
</h2>
<br>
<br>

<h1 class='quote'><%= @quote.saying %></h1>
<h2 class='author'>-<%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />