@import "bootstrap";

body {
  background: #281F1F;
}

a {
  color: #281F1F;
  font-family: 'Roboto', sans-serif;
}

a:hover {
  color: #F59342;
}

.links a:hover {
  color: #F59342;
}

.control-label {
  color: #A43A2D;
}

.clear {
  clear: both;
}

header {
  border-top: 9px solid #C87F3D;
  background: #A43A2D;
}

hr {
  clear: both;
}

h1 {
  font-weight: bold;
  font-size: 48px;
  font-family: 'Carter One', cursive;
  color: #F59342;

}

h2 span {
  font-size: 23px;
  color: #dddddd;
  text-align: left;
}

h2 {
  text-align: right;
  font-size: 20px;
  font-family: 'Carter One', cursive;
  color: #F59342;

}

p {
  color: #F59342;
}

.logo {
    font-family: 'Carter One', cursive;
    position: relative;
    top: 6px;
    font-size: 30px;
    left: 15px;
}

.logo:hover {
  text-decoration: none;
}

.slogan {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
}

.links {
  padding-top: 26px;
  a {
    color: #281F1F;
    font-size: 15px;
    border-bottom: 1px solid #dfdfdf;
    font-family: 'Carter One', cursive;
    font-weight: bold;
    float: right;
    padding-right: 10px;
    position: relative;
    bottom: 8px;
  }
}

.quote {
  color: #F59342;
  font-family: 'Carter One', cursive;
}

.author {
    color: #A43A2D;
    margin-right: 120px;
    margin-top: 56px;
}

.nextQuote {
    color: #A43A2D;
    font-family: 'Carter One', cursive;
    font-size: 20px;
    position: relative;
    top: 16px;
}   

.footer {
  color: #A43A2D;
  background: #C87F3D;
  font-family: 'Roboto', sans-serif;
}

.footer-blurb {
    font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
    font-style: italic;
    text-align: right;
    font-size: 14px;
    position: relative;
    top: 22px;
}

.about {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

.modal {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

::selection {
  background-color: #f84342;
}

.quoteID {
  float: left;
  clear: both;
  text-align: right;
  color: #A43A2D;
}

.about-link {
  color: #A43A2D;
}


@media (max-width: 750px) {
  .footer-blurb {
    font-size: 14px;
  }
}